<div class="mainFooter">
    <img src="<%= url_for('/assets/hexober-icon.svg') %>" style="width: 64px; height: 64px;"/>
    <div style="display: flex; flex-direction: column; margin-left: 16px;">
        <div>
            Powered by <b><a href="https://github.com/boybeak/Hexober" style="text-decoration: underline; color: inherit;">Hexober</a></b>.
        </div>
        <div style="margin-top: 8px;">
            A material design theme for <a href="https://hexo.io/" style="text-decoration: underline; color: inherit;">Hexo</a> based on <a href="https://soberjs.com/" style="text-decoration: underline; color: inherit;">soberJS</a>.
        </div>
    </div>
</div>