/* 默认亮色模式（通常用作fallback） */
.highlight table td {
    padding: 5px;
}

.highlight table pre {
    margin: 0;
}

.highlight,
.highlight .w {
    color: #24292f;
    background-color: #f6f8fa;
}

.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .kv {
    color: #cf222e;
}

.highlight .gr {
    color: #f6f8fa;
}

.highlight .gd {
    color: #82071e;
    background-color: #ffebe9;
}

.highlight .nb {
    color: #953800;
}

.highlight .nc {
    color: #953800;
}

.highlight .no {
    color: #953800;
}

.highlight .nn {
    color: #953800;
}

.highlight .sr {
    color: #116329;
}

.highlight .na {
    color: #116329;
}

.highlight .nt {
    color: #116329;
}

.highlight .gi {
    color: #116329;
    background-color: #dafbe1;
}

.highlight .ges {
    font-weight: bold;
    font-style: italic;
}

.highlight .kc {
    color: #0550ae;
}

.highlight .l,
.highlight .ld,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
    color: #0550ae;
}

.highlight .sb {
    color: #0550ae;
}

.highlight .bp {
    color: #0550ae;
}

.highlight .ne {
    color: #0550ae;
}

.highlight .nl {
    color: #0550ae;
}

.highlight .py {
    color: #0550ae;
}

.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
    color: #0550ae;
}

.highlight .o,
.highlight .ow {
    color: #0550ae;
}

.highlight .gh {
    color: #0550ae;
    font-weight: bold;
}

.highlight .gu {
    color: #0550ae;
    font-weight: bold;
}

.highlight .s,
.highlight .sa,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .sx,
.highlight .s1,
.highlight .ss {
    color: #0a3069;
}

.highlight .nd {
    color: #8250df;
}

.highlight .nf,
.highlight .fm {
    color: #8250df;
}

.highlight .err {
    color: #f6f8fa;
    background-color: #82071e;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
    color: #6e7781;
}

.highlight .gl {
    color: #6e7781;
}

.highlight .gt {
    color: #6e7781;
}

.highlight .ni {
    color: #24292f;
}

.highlight .si {
    color: #24292f;
}

.highlight .ge {
    color: #24292f;
    font-style: italic;
}

.highlight .gs {
    color: #24292f;
    font-weight: bold;
}

/* 暗色模式 */
@media (prefers-color-scheme: dark) {

    .highlight,
    .highlight .w {
        color: #d8d8d8;
        background-color: #181818;
    }

    .highlight .err {
        color: #181818;
        background-color: #ab4642;
    }

    .highlight .c,
    .highlight .ch,
    .highlight .cd,
    .highlight .cm,
    .highlight .cpf,
    .highlight .c1,
    .highlight .cs {
        color: #585858;
    }

    .highlight .cp {
        color: #f7ca88;
    }

    .highlight .nt {
        color: #f7ca88;
    }

    .highlight .o,
    .highlight .ow {
        color: #d8d8d8;
    }

    .highlight .p,
    .highlight .pi {
        color: #d8d8d8;
    }

    .highlight .gi {
        color: #a1b56c;
    }

    .highlight .gd {
        color: #ab4642;
    }

    .highlight .gh {
        color: #7cafc2;
        background-color: #181818;
        font-weight: bold;
    }

    .highlight .ge {
        font-style: italic;
    }

    .highlight .ges {
        font-weight: bold;
        font-style: italic;
    }

    .highlight .gs {
        font-weight: bold;
    }

    .highlight .k,
    .highlight .kn,
    .highlight .kp,
    .highlight .kr,
    .highlight .kv {
        color: #ba8baf;
    }

    .highlight .kc {
        color: #dc9656;
    }

    .highlight .kt {
        color: #dc9656;
    }

    .highlight .kd {
        color: #dc9656;
    }

    .highlight .s,
    .highlight .sb,
    .highlight .sc,
    .highlight .dl,
    .highlight .sd,
    .highlight .s2,
    .highlight .sh,
    .highlight .sx,
    .highlight .s1 {
        color: #a1b56c;
    }

    .highlight .sa {
        color: #ba8baf;
    }

    .highlight .sr {
        color: #86c1b9;
    }

    .highlight .si {
        color: #a16946;
    }

    .highlight .se {
        color: #a16946;
    }

    .highlight .nn {
        color: #f7ca88;
    }

    .highlight .nc {
        color: #f7ca88;
    }

    .highlight .no {
        color: #f7ca88;
    }

    .highlight .na {
        color: #7cafc2;
    }

    .highlight .m,
    .highlight .mb,
    .highlight .mf,
    .highlight .mh,
    .highlight .mi,
    .highlight .il,
    .highlight .mo,
    .highlight .mx {
        color: #a1b56c;
    }

    .highlight .ss {
        color: #a1b56c;
    }
}