<% var photoCount = photos.length %>

<% if (photoCount == 1) { %>
    <img class="galleryItem" style="width: 160px; height: 160px;" src="<%= url_for(photos[0]) %>" alt="Photo">
<% } else if (photoCount > 1 && photoCount <= 3) { %>
    <div class="gallery2-3">
        <% photos.forEach((photo) => { %>
            <img class="galleryItem" style="width: 128px; height: 128px;" src="<%= url_for(photo) %>" alt="Photo">
        <% }) %>
    </div>
<% } else if (photoCount == 4) { %>
    <div class="gallery4">
        <% photos.forEach((photo) => { %>
            <img class="galleryItem" style="width: 100px; height: 100px;" src="<%= url_for(photo) %>" alt="Photo">
        <% }) %>
    </div>
<% } else { %>
    <div class="galleryMore">
        <% photos.forEach((photo) => { %>
            <img class="galleryItem" style="width: 100px; height: 100px;" src="<%= url_for(photo) %>" alt="Photo">
        <% }) %>
    </div>
<% } %>